h1, h2 {
	font-family: arial, sans-serif;
}
#addPage {
	border: 1px solid red;
	margin: 2em;
	padding: 1em;
}

#editPage {
	border: 1px solid blue;
	margin: 2em;
	padding: 1em;
}


input {
	display: block;
	width: 600px;
	margin-bottom: 1em;
	padding: 0.5em;
	font-family: arial, sans-serif;
}

#list, th, td {
   border: 1px solid black;
}